<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Principal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="center">
  <div *ngIf = "conectado">
      <button ion-button color= "danger" round outline (click)="logEvent($event)" >Desconectar</button>
      <ion-list>
        <ion-item>
          <ion-label>Lâmpada</ion-label>
          <ion-toggle [(ngModel)]="lamp" ></ion-toggle>
        </ion-item>
        <ion-item>

          <h2>{{rele}}</h2>
        </ion-item>
        <ion-item>
          <ion-checkbox [(ngModel)]="check" ></ion-checkbox>
        </ion-item>
        <ion-item>
        <ion-range min="0" max="100" step="25" pin="true" [(ngModel)]="dimmer"></ion-range>
        </ion-item>
      </ion-list>
  </div>
  <div *ngIf = "!conectado">
      <button ion-button color= "secondary" round outline (click)="connect($event)" >Conectar</button>
  </div> 
</ion-content>
